//my css file
body {
	font-family: 'Open Sans', sans-serif;

	background-color: #ffffff;
	padding-top: 100px;
	padding: 50px;

	#searchi{
		&:hover{
			box-shadow: 0 2px 6px 1px #000000;
		}
	}

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 img{
			margin: 0px 150px 10px;
			width: 700px;
			height: 300px;
	}
	
	.reset{
		font-size: 25px;
	}
	.results {
		color: #7a92a5;
		font-size: 12px;
		margin: 12px 5px;
		
		#restore{
			cursor:pointer ;
			color:  #acda05;
			background-color: #ffffff;
			font-style: initial;
				font-size: 12px;
				margin: 10px 0;
				flex-shrink: 0;
				border: none;

				&:active{
					color: #040816;	
				}
		}
		#reverse{
			border: none;
			background-color: white;
			img{
				
				cursor:pointer ;
				height: 15px;
				width: 15px;

			}
		}
	}
	

	header {
		width: 100%;
		flex-shrink: 0;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		display: flex;
		flex-direction: column;
		border: 1px solid #fff;
		padding: 10px 20px;
		position: relative;

		input {
			width: 100%;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: 1px solid #b6c1cd;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
				
			}
			
		}
		
	}

	a {
		color: #3899ec;
		cursor: pointer;
		font-weight: 500;
		font-size: 12px;
	}

	.sort {
		
		color: #7a92a5;
		font-size: 15px;	
		text-align: left;
		#date,#email,#title{
			font-size: 15px;
			cursor:pointer ;
			color: #acda05;

			&:active{
				color: black;
				border: none;
				border-radius: 6px;
				background-color: #fff;
			}
		}
	}
	.Bs {
		text-align: left;
		color: #7a92a5;
		font-size: 15px;
		#small,#normal,#large{
			font-size: 15px;
			color: #acda05;
			cursor:pointer ;
			&:active{
				color: black;
				border: none;
				border-radius: 6px;
				background-color: #fff;
			}
		}	
	}
	.NB {
		background-color: #ffffff;
		color: #acda05;
		font-size: 12px;
		text-align: center;
		border: none;
		border-radius: 6px;
		
		&:active{
			border: none;
			border-radius: 6px;
			background-color: #fff;
		}
		#leftNav{
			border: none;
			background-color: white;
			img{
				right: 100px;
				cursor:pointer ;
				padding: 10px 20 px;
				height: 15px;
				width: 15px;

			}
		}
			#rightNav{
				border: none;
				background-color: white;
				img{
					right: 100px;
					cursor:pointer ;
					padding: 10px 20 px;
					height: 15px;
					width: 15px;
	
				}
			}
		}

	.tickets {
		margin: 0;
		padding: 0;

		.ticket {
			width: 100%;
			flex-shrink: 0;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;
			position: relative;
			&:hover{
				box-shadow: 0 2px 6px 1px #030303;
			}

			&:hover #hide {
				cursor:pointer ;
				text-align: center;
				display: block;
				color:  #acda05;
				font-size: 15px;
				position: absolute;
				 right: 10px;  
				  width: 50px;
				 height: 24px;
				 &:active{
					border: none;
					border-radius: 6px;
					background-color: #fff;
					color: black;
				}
			}
			&:hover #submit {
				cursor:pointer ;
				text-align: center;
				display: block;
				color:  #acda05;
				font-size: 15px;
				position: absolute;
				right: 70px;  
				width: 70px;
				height: 24px;
				&:active{
					color: black;
					border: none;
					border-radius: 6px;
					background-color: #fff;
				}
			}
 
			.title {
				margin: 15px 0;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
			}

			p{
				margin: 10px 0;
				font-size: 14px;
				font-weight: 400;
				font-style: normal;
				color: #0a0a0a;
			}

			footer {
				display: flex;
				justify-content: space-between;

				.meta-data {
					color: #7a92a5;
					font-size: 12px;
					margin: 10px 0;
					flex-shrink: 0;
				}
			}
	
			#hide {
				display: none;
				}

			#submit {
					display: none;
					}
		}
	}

}